*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
   
}
#resitration{
    border: 2px solid rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;


}
.logo{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2% auto;

}

.Error {
    width: 353px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: red;
    margin-right: -15px;
}

img{
    width: 50%;
}
input{
margin: 12px;
padding: 8px;
box-sizing: border-box;
width: 353px;
overflow: hidden;
outline: none;
height: 40px;

}
button{
    margin: 010px;
    padding: 12px; 
    background: #0098c5;
    color: #ffffff;
    border: 2px solid #0098c5;
    border-radius: 3%;
    transition-duration: 0.2s;
    cursor: pointer;
    

}
 button:hover, button:focus, button:active{
    background:#0098c5;
    color: rgb(255, 255, 255);
    border-radius: 1%;
}
#resitration a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width:385px) {
    input{
    
            margin: 9px;
            padding: 2px;
            box-sizing: border-box;
            width: 220px;
            overflow: hidden;
            outline: none;
            
            
    }
    img{
        width: 160px;
    }
    button {
        margin: 010px;
        padding: 0px;
        background: #0098c5;
        color: #ffffff;
        border: 2px solid #0098c5;
        border-radius: 3%;
        transition-duration: 0.2s;
        cursor: pointer;
        width: 206px;
        height: 35px;
    }
}
@media screen and (max-width:245px) {
    input {
        margin: 9px;
        padding: 1px;
        box-sizing: border-box;
        width: 184px;
        overflow: hidden;
        outline: none;
    }
    img{
        width: 120px;
    }
    button {
        margin: 010px;
        padding: 0px;
        background: #0098c5;
        color: #ffffff;
        border: 2px solid #0098c5;
        border-radius: 3%;
        transition-duration: 0.2s;
        cursor: pointer;
        width: 206px;
        height: 35px;
    }
}
@media screen and (max-width:800px) {
    img{
        width: 180px;
    }
}